<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      line-height: 1.6;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #333;
    }

    p {
      color: #555;
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      margin-top: 15px;
      background-color: #007BFF;
      color: #fff !important;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <h1>Password Reset</h1>
  <p>Hello <%= username %>,</p>
  <p>We received a request to reset your password. Click the link below to reset your password:</p>
  <a href="url<%= token %>">Reset Password</a>
  <p><%= token %></p>
  <p>If you didn't request a password reset, please ignore this email.</p>
  <p>Thank you,</p>
  <p>Mike Dũng</p>
</body>
</html>
